body {
  color: #fff;
  padding:0;
  margin: 0;
}



.title-box {
  color: black;
  font-family: monospace;
  font-size: 2rem;
}

.variable-info-box {
  width: 500px;
  height: 100px;
  background-color: rgb(38, 153, 199);
  margin:0;
  padding: 30px
}

.link-input-box {
  width: 500px;
  height: 300px;
  background-color: rgb(35, 153, 20);
  margin: 0;
  padding: 30px;
}

#new_link {
  width: 300px;
  height: 40px;
}

.link-button {
  height: 40px;
  width: 50px;
}

.top-container {
  display: flex;
  width: auto;
}

.bottom-container {
  display: flex;
  width: auto;
}

.word-info-box {
  width: 500px;
  height: auto;
  background-color: rgb(210, 226, 231);
  padding: 30px;
  margin: 0;
  color: black;
}


table, th, td {
  border: black 1px solid;
  border-collapse: collapse;
}

td {
  padding: 5px;
}

.word-count-data {
  text-align: right;
}

.graph-info-box {
  width: 500px;
  height: 500px;
  background-color: rgb(199, 110, 38);
  padding: 30px;
  margin: 0;
}